<h3>Email <span class="badge badge-primary">3</span></h3>
<h3>Email <span class="badge badge-primary badge-pill">3</span></h3>
<h3>Email <span class="badge badge-secondary">3</span></h3>
<h3>Email <span class="badge badge-success">3</span></h3>
<h3>Email <span class="badge badge-info">3</span></h3>
<h3>Email <span class="badge badge-warning">3</span></h3>
<h3>Email <span class="badge badge-danger">3</span></h3>
<h3>Email <span class="badge badge-light">3</span></h3>
<h3>Email <span class="badge badge-dark">3</span></h3>

