<div class="btn-group">
	<button class="btn btn-info">info button</button>
	<button class="btn btn-success">success button</button>
	<button class="btn btn-dark">dark button</button>
</div><!-- /btn-group -->

<div class="btn-group btn-group-lg">
	<button class="btn btn-warning">warning button</button>
	<button class="btn btn-danger">danger button</button>
	<button class="btn btn-outline-info">info outline button</button>
</div><!-- /btn-group btn-group-lg -->
