<button class="btn">button</button>
<button class="btn btn-primary">primary button</button>
<button class="btn btn-secondary">secondary button</button>
<button class="btn btn-success">success button</button>
<button class="btn btn-info">info button</button>
<button class="btn btn-warning">warning button</button>
<button class="btn btn-danger">danger button</button>
<button class="btn btn-light">light button</button>
<button class="btn btn-dark">dark button</button>
<button class="btn btn-link">link button</button>

<hr>

<button class="btn btn-outline-primary">primary outline</button>
<button class="btn btn-outline-secondary">secondary outline</button>
<button class="btn btn-outline-success">success outline</button>
<button class="btn btn-outline-info">info outline</button>
<button class="btn btn-outline-warning">warning outline</button>
<button class="btn btn-outline-danger">danger outline</button>
<button class="btn btn-outline-light">light outline</button>
<button class="btn btn-outline-dark">light outline</button>
