<button class="btn btn-primary btn-lg">large button</button>
<button class="btn btn-secondary btn-sm">small button</button>
<br>
<br>
<br>
<button class="btn btn-primary btn-block">block level button</button>

<button class="btn btn-warning active">active button</button>

<button class="btn btn-info disabled">disabled button</button>

<label class="btn btn-secondary">
	<input type="checkbox">1
</label>

<label class="btn btn-dark">
	<input type="checkbox">2
</label>

<br>
<br>

<label class="btn btn-secondary active">
	<input type="radio">1
</label>

<label class="btn btn-primary">
	<input type="radio">2
</label>
