<div class="card">
	<div class="card-body">
		<h4 class="card-title">Card title</h4>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
		tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
		vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
		no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</div><!-- /card-body -->
</div><!-- /card -->

<div class="card">
	<div class="card-body">
		This is some text in a card body
	</div><!-- /card-body -->
</div><!-- /card -->

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Card title</h4>
		<h5 class="card-subtitle">Card subtitle</h5>
		<p class="card-text">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
		tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
		vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
		no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</p>
	</div><!-- /card-body -->
</div><!-- /card -->

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Card title</h4>
		<p class="card-text">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
		tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
		vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
		no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</p>
		<a href="" class="card-link">link 1</a>
		<a href="" class="card-link">link 2</a>
	</div><!-- /card-body -->
</div>

<div class="card">
	<img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20100%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1627b1adf26%20text%20%7B%20fill%3A%23FFFFFF%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1627b1adf26%22%3E%3Crect%20width%3D%22318%22%20height%3D%22100%22%20fill%3D%22%230D8FDB%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.921875%22%20y%3D%2257.2%22%3E318x100%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img-top">
	<div class="card-body">
		Some card content
	</div><!-- /card-body -->
</div><!-- /card -->

<div class="card">
	<img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22100%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20100%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1627b1adf26%20text%20%7B%20fill%3A%23FFFFFF%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1627b1adf26%22%3E%3Crect%20width%3D%22318%22%20height%3D%22100%22%20fill%3D%22%230D8FDB%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.921875%22%20y%3D%2257.2%22%3E318x100%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" class="card-img">
	<div class="card-img-overlay">
		<p class="card-text">I am a text!</p>
	</div><!-- /card-img-overlay -->
</div><!-- /card -->

<div class="card">
	<ul class="list-group ">
		<li class="list-group-item">Item 1</li>
		<li class="list-group-item">Item 2</li>
		<li class="list-group-item">Item 3</li>
	</ul>
</div><!-- /card -->

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Card Title</h3>
	</div><!-- /card-header -->
	<div class="card-body">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
		tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
		vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
		no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</div><!-- /card-body -->
	<div class="card-footer">
		<p>This is a card footer</p>
	</div><!-- /card-footer -->
</div><!-- /card -->

<div class="card-group">
	<div class="card">
		<div class="card-header bg-primary text-white">
			<h3 class="card-title">Card 1</h3>
		</div><!-- /card-header bg-primary text-white -->
		<div class="card-body">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div><!-- /card-body -->
		<div class="card-footer bg-primary text-white">
			<p>This is a card footer</p>
		</div><!-- /card-footer bg-primary text-white -->
	</div><!-- /card -->
<div class="card">
		<div class="card-header bg-success text-white">
			<h3 class="card-title">Card 1</h3>
		</div><!-- /card-header -->
		<div class="card-body">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div><!-- /card-body -->
		<div class="card-footer bg-success text-white">
			<p>This is a card footer</p>
		</div><!-- /card-footer -->
	</div>
<div class="card">
		<div class="card-header bg-info text-white">
			<h3 class="card-title">Card 1</h3>
		</div><!-- /card-header -->
		<div class="card-body">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div><!-- /card-body -->
		<div class="card-footer bg-info text-white">
			<p>This is a card footer</p>
		</div><!-- /card-footer -->
	</div>
</div><!-- /card-group -->

<div class="card-deck">
	<div class="card">
		<div class="card-header text-white">
			<h3 class="card-title">Card 1</h3>
		</div><!-- /card-header -->
		<div class="card-body">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div><!-- /card-body -->
		<div class="card-footer">
			<p>This is a card footer</p>
		</div><!-- /card-footer -->
	</div><!-- /card -->
<div class="card">
		<div class="card-header">
			<h3 class="card-title">Card 1</h3>
		</div><!-- /card-header -->
		<div class="card-body">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div><!-- /card-body -->
		<div class="card-footer">
			<p>This is a card footer</p>
		</div><!-- /card-footer -->
	</div>
<div class="card">
		<div class="card-header">
			<h3 class="card-title">Card 1</h3>
		</div><!-- /card-header -->
		<div class="card-body">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div><!-- /card-body -->
		<div class="card-footer">
			<p>This is a card footer</p>
		</div><!-- /card-footer -->
	</div>
</div>
