<a href="#collapsible" class="btn btn-success" data-toggle="collapse">Press on me</a>

<div class="collapse w-50" id="collapsible">
	<div class="card">
		<div class="card-header">
			<h3>Card title</h3>
		</div><!-- /card-header -->
		<div class="card-body">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
			vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div><!-- /card-body -->
	</div><!-- /card -->
</div><!-- /collapse w-50 -->

<div id="accordion" class="w-50">
	<div class="card">
		<div class="card-header" id="heading1">
			<h4>
				<a href="#collapse1" data-toggle="collapse">Click to expand</a>
			</h4>
		</div><!-- /card-header -->

		<div id="collapse1" class="collapse">
			<div class="card-body">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
				tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
				vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
				no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</div><!-- /card-body -->
		</div>
	</div><!-- /card -->
</div>
