<div class="dropdown">
	<button class="btn btn-dark dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">options</button>
	<div class="dropdown-menu">
		<a href="" class="dropdown-item">Edit</a>
		<a href="" class="dropdown-item">Delete</a>
	</div><!-- /dropdown-menu -->
</div><!-- /dropdown -->
