<div class="container">
	Hello, I am a container
</div><!-- /container -->

<div class="container-fluid">
	And I am a fluid container
</div><!-- /container-fluid -->

<div class="container">
	<div class="row no-gutters">
		<div class="col-12 col-sm-6 col-md-8">
			.col-12 .col-sm-6 .col-md-8
		</div><!-- /col-12 col-sm-6 col-md-8 -->
		<div class="col-6 col-md-4">
			.col-6 .col-md-4
		</div><!-- /col-12 col-sm-6 col-md-8 -->
	</div><!-- /row no-gutters -->
</div><!-- /container -->
